{% extends 'base.html' %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">The Recipe Book of Happiness</h1>
            <p class="lead fw-normal text-white-50 mb-0">10 tips that will make you a better cook</p>
        </div>
    </div>
</header>
<section class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-lg-7 m-auto">
            <h2 class="text-center mb-3">Written By <a href="https://akispetretzikis.com/en/blog/articles/oi-10-simvoyles-poy-tha-se-kanoyn-kalytero-magheira" target=”_blank”>Akis Petritzikis</a></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-lg-5 m-auto">
            <p class="mt-3">What is it that has the power to improve your cooking skills beyond patience and
                perseverance - elements that every good cook should have? The answer is here. In 10 simple tips that may
                not give you Michelin stars, but…they will make you a star in the kitchen!
            </p>
        </div>
    </div>
</section>
<section class="container-fluid article-section-text">
    <div class="row">
        <div class="col-md-8 col-lg-5 m-auto">
            <p><strong>Invest in a good kitchen knife.</strong> It is true that you can cut yourself - if you are
                careless - with a good
                knife. It is also a fact that you will definitely cut yourself with a “bad knife”. Therefore, a good
                knife is what you need to complete many of the tasks when preparing a recipe. The main requirement?
                Before you buy it, you should test it by holding it in your hands and making the characteristic
                movements you make when you cut something, while after you buy it, you should take care of it and always
                keep it sharp, clean, and dry.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-lg-5 m-auto">
            <p><strong>Pay attention to your raw ingredients.</strong> The way you choose your ingredients, as well as
                the way you handle
                them, can make a difference. Choose raw ingredients that are in season and -if possible- prefer local
                products. There is a reason for that and you will find it here. In addition, choose the best ingredients
                - think that much of the taste of your recipe depends on them. So, it is worth investing in them even if
                they cost a little more. Finally, whenever you can, try to use homemade preparations such as tomato
                sauce, jams, and so on. Here, I have gathered some ideas and -of course- recipes!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-lg-5 m-auto">
            <p><strong>Use your senses.</strong>Smell your raw ingredients and food. Touch them to understand their
                texture and -of
                course- try them. Have a taste to see if something is delicious. To check the seasoning, to understand
                if the food needs more cooking or not. Finally, use your eyesight and observe your food well. A complete
                recipe should give the time, as well as the description (where needed) of the desired result using
                phrases such as "until the dough is golden", "until the water is reduced by half", and so on. So, what
                you need to do is not to “blindly” trust time, but to keep your eyes open.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-lg-5 m-auto">
            <p><strong>Experiment with aromas and flavors.</strong> The ace up your sleeve to enhance the taste of your
                food is none
                other than spices. Discover them, try them, and take the taste and aroma of your dishes to the next
                level. Here, you will find some useful information about them, while here, I share with you three unique
                recipes to prepare your own infused olive oil at home.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-lg-5 m-auto">
            <p><strong>Use water, but in moderation.</strong> Why? Because water is
                known to thin not only the consistency but also the taste of your food. So, before adding water or broth
                to a recipe, try and think about whether you really want a thinner or more concentrated flavor.
                Personally, I vote for the latter.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-lg-5 m-auto">
            <p><strong>Get equipped properly.</strong> Let’s face it: A well-equipped and organized kitchen can make
                your
                cooking…life much easier and bring you one step closer to the desired result. For example, a
                thermometer will help you cook your meats perfectly, while a timer will make sure you follow the
                cooking time with precision. Here, I have gathered some useful utensils that are worth having in
                your kitchen, while here you will find everything you need to become...the best pastry chefs!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-lg-5 m-auto">
            <p><strong>Be patient.</strong> You have to wait as long as it takes for a dough to double in size. For the
                juices of
                a roast that has just come out of the oven to be evenly distributed (yes, you should never cut it
                straight away; you should wait at least 5-10 minutes - maybe more depending on the type and amount
                of meat). For a chilled dessert to set properly in the refrigerator. Finally, you have to have
                patience to succeed in a difficult recipe, and patience along with perseverance to do it again if
                something goes wrong ;-)
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-lg-5 m-auto">
            <p><strong>Pay attention to serving.</strong> It may seem unnecessary to drizzle your food with fresh olive
                oil
                before serving and to garnish it with basil leaves, but… it is not! These final touches will take
                the taste of your dish to the next level, so - without a doubt - it is worth trying them to achieve
                a complete result. Where necessary, spend some time to serve your food by drizzling it with extra
                virgin olive oil, balsamic vinegar, lemon, some zest, and so on. (always depending on what the
                recipe suggests or…your experience).
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-lg-5 m-auto">
            <p><strong>Follow someone more experienced.</strong> Look for tested recipes, seek advice from someone who
                has
                already prepared a similar recipe, find recipes that suit you, and follow their steps exactly -
                especially if you are not familiar with cooking.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-lg-5 m-auto">
            <p><strong>Do not give up.</strong> You didn’t succeed? It doesn’t matter! It will get better the next time. As in
                    all things, so in cooking, practice makes us better day by day. Do not miss the opportunity to get
                    in the kitchen even if you have to cook for 1 or 2 people. Even if ordering food seems ideal. Spend
                    time on your food, even prepare your favorite "street food" at home. Soon everything will seem much
                    simpler and even tastier. But the best part is that your food will be homemade!
            </p>
        </div>
    </div>
</section>
{% endblock %}