{% extends 'base.html' %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">The Recipe Book of Happiness</h1>
            {% block subs %}
            {% if session.get("user") %}
            <p class="lead fw-normal text-white-50 mb-0">Welcome to your cookbook {{ username }} !!!</p>
            {% else %}
            <p class="lead fw-normal text-white-50 mb-0">Search Recipes Bellow</p>
            {% endif %}
            {% endblock subs %}
        </div>
    </div>
</header>
    <div class="container">
        <div class="col s12 m8 offset-m2">

        </div>
    </div>
{% endblock %}