{% extends 'base.html' %}
{% block content %}
<section class="py-5 h-100">
    <div class="container px-4 px-lg-5 mt-5 h-100">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a  style="color:black!important" href="/">Recipes</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{recipe.recipe_name}}</li>
            </ol>
          </nav>
        <div class="row">
            <div class="col col-5">
                <img src="{{ recipe.cover }}" alt="" class="w-100">
            </div>
            <div class="col col-7">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2>{{ recipe.recipe_name }}</h2>
                    </div>
                    <div class="col-12">
                        <p>{{ recipe.description }}</p>
                    </div>
                    <div class="col-12">
                        <p>{{ recipe.ingredients }}</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>
{% endblock %}