{% extends 'base.html' %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">The Recipe Book of Happiness</h1>
            {% block subindex %}
            {% if session.get("user") %}
            <p class="lead fw-normal text-white-50 mb-0">{{ session["user"] }}, you are looking at {{ recipe.recipe_name }} recipe</p>
            {% else %}
            <p class="lead fw-normal text-white-50 mb-0"> {{ recipe.recipe_name }}</p>
            {% endif %}
            {% endblock subindex %}
        </div>
    </div>
</header>
<section class="py-5 h-100">
    <div class="container px-4 px-lg-5 mt-5 h-100">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a  style="color:black!important" href="/">Recipes</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{recipe.recipe_name}}</li>
            </ol>
          </nav>
        <div class="row">
            <div class="col col-5">
                <img src="{{ recipe.cover }}" alt="" class="w-100">
            </div>
            <div class="col col-7">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2>{{ recipe.recipe_name }}</h2>
                    </div>
                    <div class="col-12">
                        <p>{{ recipe.description }}</p>
                    </div>
                    <div class="col-12">
                        <p>{{ recipe.ingredients }}</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>
{% endblock %}